body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

  

#fileInput {
    margin-bottom: 10px;
}  

#fileInfo {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

  #preview {
    max-width: 100%;
    display: none;
    margin-top: 10px;
  }